.background-container{
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
    rgb(117, 117, 250, 0.3),
    rgb(117, 117, 250, 0.6)),
    url(../img/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative ;
}
.portfolio-wrapper--flex{
    margin-right: 30rem;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-wrapper--flex> .portfolio__card--flex{
    margin: 1rem;
}
.portfolio__card--flex .card{
    width: 16rem;

}
.portfolio-features{
    position: fixed;
    margin: 2rem 3rem;
    right: 0;
}
.carousel-container{
height: 32rem;
width: 32rem;
object-fit: auto;
object-position: center;
margin-top: 3rem;
padding: 1rem;
position: relative;
}
.text{
    margin-top: 3rem;
    margin-right: 30rem;
    width: 10vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}